extends ../layouts/mdl/default

block content
  .mdl-card__supporting-text
    if user
      h3 Clients
      if user.canAccessKeystone
        p.text-success This section is under construction...
        ul.demo-list-two.mdl-list
          for client in clients
            li.mdl-list__item.mdl-list__item--two-line
              span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-avatar person
                span= client.fullName
                span.mdl-list__item-sub-title= client.phone + (client.email ? " " + client.email : "")
      else
        p.text-warning This section is under construction...
    else
      h3 Sorry, access denied.
      p
        strong Oops...
        br
        span You are not authorized. So, you can't see clientlist.
  script.
    //console.log(locals);
    //console.log(data);
    //console.log(clients);
    //console.log(store);
